interactions:
- request:
    body: null
    headers:
    method: HEAD
    uri: https://www.businessinsider.com/
  response:
    body:
      string: ''
    headers:
      Location:
      - https://www.businessinsider.nl/?international=true&r=US
      Retry-After:
      - '0'
    status:
      code: 302
      message: https://www.businessinsider.nl/?international=true&r=US
- request:
    body: null
    headers:
    method: HEAD
    uri: https://www.businessinsider.nl/?international=true&r=US
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Link:
      - <https://www.businessinsider.nl/wp-json/>; rel="https://api.w.org/"
      - <https://www.businessinsider.nl/wp-json/wp/v2/pages/664431>; rel="alternate";
        title="JSON"; type="application/json"
      - <https://www.businessinsider.nl/>; rel=shortlink
      X-Design-By:
      - level-level.com
      X-Loc-Id:
      - '6'
      X-Proxy-Cache:
      - HIT
      X-Svr-Id:
      - lvl, frontend-01@bi-nl, prod
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Range:
      - bytes=0-100
    method: GET
    uri: https://www.businessinsider.nl/?international=true&r=US
  response:
    body:
      string: "\n<!doctype html>\n<html class=\"no-js tw-nederland\" lang=\"nl-NL\">\n\t<head>\n\t\t\t\n<script>dataLayer
        = [{\"wp_post_tag\":\"geen\",\"wp_category\":\"geen\",\"wp_author\":\"geen\",\"Update
        datum\":\"2025-07-03T08:55:49+02:00\",\"Publicatie datum\":\"2025-05-26T15:29:55+02:00\",\"loginstatus\":\"logged
        out\",\"Article wordcount actual\":2,\"Article wordcount\":\"0-100\",\"Article
        links\":0,\"Article photos\":1,\"Article videos\":0,\"fase\":\"geen\"}]; </script>\n\n\t\t<!--
        Google Tag Manager -->\n<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\n\t\t\tnew
        Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\n\t\tj=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n\t\t'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\n\t})(window,document,'script','dataLayer','GTM-K9RJH4VQ');</script>\n<!--
        End Google Tag Manager -->\n\t\t\n\t\t<meta charset=\"utf-8\">\n\t\t<meta
        http-equiv=\"x-ua-compatible\" content=\"ie=edge\">\n<script type=\"text/javascript\">\n/*
        <![CDATA[ */\nvar gform;gform||(document.addEventListener(\"gform_main_scripts_loaded\",function(){gform.scriptsLoaded=!0}),document.addEventListener(\"gform/theme/scripts_loaded\",function(){gform.themeScriptsLoaded=!0}),window.addEventListener(\"DOMContentLoaded\",function(){gform.domLoaded=!0}),gform={domLoaded:!1,scriptsLoaded:!1,themeScriptsLoaded:!1,isFor[...]
[...]
