interactions:
- request:
    body: null
    headers:
    method: HEAD
    uri: https://www.forbes.com/
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Fastly-Restarts:
      - '1'
      X-City-Code:
      - amsterdam
      X-Country-Code:
      - NL
      X-Fastly-Backend:
      - 24YyrkkiTBhSwXWzJgvwW6--F_GCP_Cicero_Varnish
      X-Fastly-X-is-CN:
      - 'false'
      X-Fastly-X-is-US-DPA:
      - 'false'
      X-FastlyTTL:
      - '300.000'
      X-Postal-Code:
      - 1013 gz
      X-Region:
      - NH
      backend:
      - dnsresolver
      state:
      - HIT-CLUSTER
      x-backend:
      - simple-site-prod
      x-cicero-cache:
      - HIT 14
      x-datadome:
      - protected
      x-device:
      - pc
      x-yourttl:
      - '300.000'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Range:
      - bytes=0-1000
    method: GET
    uri: https://www.forbes.com/
  response:
    body:
      string: <!DOCTYPE html><html lang="en"><head><link rel="preload" as="image"
        href="https://imageio.forbes.com/specials-images/imageserve/689f1c9500d59ee3d58bf208/0x0.jpg?format=jpg&amp;width=1100"><meta
        charset="UTF-8"><meta http-equiv="Content-Language" content="en_US"><meta
        name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5,minimum-scale=1,user-scalable=yes"><title
        itemprop="headline">Forbes</title><link rel="icon" href="https://i.forbesimg.com/48X48-F.png"><link
        rel="canonical" href="https://www.forbes.com/home_europe/"><meta name="referrer"
        content="origin-when-cross-origin"><meta name="description" itemprop="description"
        content="Forbes is a globa[...]
[...]
