interactions:
- request:
    body: null
    headers:
    method: HEAD
    uri: https://seekingalpha.com/
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html
      uWebSockets:
      - '20'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Range:
      - bytes=0-1000
    method: GET
    uri: https://seekingalpha.com/
  response:
    body:
      string: '<!DOCTYPE html><html lang="en" prefix="og: https://ogp.me/ns#"><head><meta
        charSet="utf-8"/><meta content="width=device-width, initial-scale=1.0, viewport-fit=cover,
        maximum-scale=5.0" name="viewport"/><link crossorigin="" href="https://static.seekingalpha.com"
        rel="preconnect"/><link crossorigin="" href="https://finance-api.seekingalpha.com"
        rel="preconnect"/><link crossorigin="" href="https://www.googletagmanager.com"
        rel="preconnect"/><link crossorigin="" href="https://www.google-analytics.com"
        rel="preconnect"/><link as="fetch" crossorigin="" href="/api/v3/breaking_news"
        rel="preload" type="application/json"/><link as="fetch" crossorigin="" href="/api/v3/m[...]
[...]
